* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  color: rgb(4, 225, 4);
  font-size: 3rem;
  text-transform: uppercase;
}
